@font-face {
  font-family: "Adobe Clean Bold";
  src: url("../fonts/AdobeClean-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Adobe Clean";
  src: url("../fonts/AdobeClean-Regular.otf") format("opentype");
}
.hidden {
  visibility: hidden;
  display: none !important;
}

body {
  font-size: 16px;
  min-width: min-content;
  animation: 0.2s ease-out 0s 1 slideFromTop;
}

header {
  padding: 1rem 10rem;
  border-bottom: 1px solid black;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

hr {
  margin-top: 2rem;
  width: 90%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  animation: 0.2s ease-out 0s 1 slideFromTop;
}

#home-link, #rescue-request, #home-link-operator {
  display: flex;
  cursor: pointer;
}
#home-link > p, #rescue-request > p, #home-link-operator > p {
  line-height: 100%;
  margin: auto 0;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#home-link {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#home-link:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#rescue-request {
  border: 1px solid red;
  background-color: red;
  padding: 0.5rem;
  border-radius: 50px;
}
#rescue-request > p {
  color: white;
  font-size: 1rem;
}

#logged-in {
  background-color: black;
  border: 1px black solid;
  border-radius: 50px 0 0 50px;
  padding: 0 0.5rem;
  margin: auto 0;
  width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logged-in p {
  display: inline;
  color: white;
  margin: auto 0;
}

#main-nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
#main-nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
#main-nav a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: black;
  position: relative;
  text-decoration: none;
}
#main-nav a::before, #main-nav a::after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  transition: all 0.35s ease;
  opacity: 0;
}
#main-nav a::before {
  left: 0;
  top: 0;
  border-left: 3px solid red;
  border-top: 3px solid red;
  transform: translate(100%, 50%);
}
#main-nav a::after {
  right: 0;
  bottom: 0;
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  transform: translate(-100%, -50%);
}
#main-nav a:hover::before, #main-nav .current a::before, #main-nav a:hover::after, #main-nav .current a::after {
  transform: translate(0%, 0%);
  opacity: 1;
}

.logo {
  width: 3rem;
}

.profile {
  width: 1.5rem;
  display: inline;
  padding-right: 0.5rem;
}

nav > a, #main-nav > a {
  text-decoration: none;
  color: black;
  line-height: 100%;
  margin: auto 0;
}

#btn-logout {
  border: 1px solid black;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  background-color: black;
  color: white;
}

#btn-logout {
  border-radius: 0 50px 50px 0;
}

.active-nav {
  text-decoration: underline;
  font-weight: bold;
}

h1:not(.callPanel h1, .rescuersfleetPanel h1) {
  font-family: "Adobe Clean Bold", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
}

p:not(.subscriptions .grid p, .callPanel p, .rescuersfleetPanel p, .clientSubscriptions p) {
  font-family: "Adobe Clean", sans-serif;
  text-align: center;
  margin: 2rem 30% 0 30%;
}

nav > .alert > #alert-text {
  font-size: 28px;
}

nav > .alert {
  margin-top: 0;
  padding: 0.5rem 1.5rem;
}

.alert {
  border: 1px red solid;
  background-color: red;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  width: 7rem;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  animation: pulse 1s infinite;
}
.alert > #alert-text {
  font-family: "Adobe Clean Bold", sans-serif;
  font-size: 1.75rem;
  text-align: right;
  margin: 0;
  display: inline;
}
.alert > img {
  width: 1.75rem;
}

/* HOME */
#intro {
  height: 90vh;
  background-image: url("../images/bg-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-home {
  max-width: 100vw;
}

#home-title {
  font-family: "Adobe Clean Bold", sans-serif;
  font-size: 3rem;
  color: white;
  padding: 25vh 0 5vh 15rem;
  text-shadow: black 1px 1px;
  text-align: left;
  margin: 0;
}

#home-intro {
  font-family: "Adobe Clean Bold", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding: 0 0 2rem 15rem;
  text-shadow: black 1px 1px;
  max-width: 40vw;
  text-align: left;
  margin: 0;
}

#subscribe {
  font-size: 30px;
  padding: 0.5rem 1rem;
  font-family: Poppins, sans-serif;
  border-radius: 50px;
  margin-left: 15rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: black;
  text-align: center;
  background: linear-gradient(180deg, #ffe7a5 0%, #f7b500 100%);
}
#subscribe:after {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  left: auto;
  top: 0;
  bottom: 0;
  right: -20%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}
#subscribe:hover:after {
  transition: all 0.4s ease-out;
  right: 100%;
}

nav > #subscribe {
  margin-left: 3rem !important;
  font-size: 16px;
}

#steps {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.step {
  width: 25%;
  text-align: center;
}
.step h2 {
  padding-top: 1.75rem;
  font-family: "Adobe Clean", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.step img {
  max-width: 30%;
  height: 50px;
  display: inline-block;
}
.step p {
  margin: 1rem 10% 0 10%;
}

.arrow {
  width: 3rem;
  height: 3rem;
  margin: auto 0;
}

/* SUPPORT */
#faq {
  margin: 1rem 10% 0 10%;
}
#faq h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
}
#faq h3:not(.callPanel h3, .rescuersfleetPanel h3, .clientSubscriptions h3) {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}
#faq p {
  font-family: Poppins, sans-serif;
  background-color: lightgray;
  border-radius: 20px;
  text-align: left;
  padding: 1rem;
  margin: 0;
}

/*====================*/
/* SUBSCRIPTIONS GRID */
/*====================*/
.subscriptions table {
  border-spacing: 10px;
  border-collapse: separate;
}
.subscriptions table td {
  padding: 0.6em;
}
.subscriptions table tr td:not(:first-child) {
  text-align: center;
  vertical-align: center;
}
.subscriptions table tr td:nth-child(1):not(tfoot tr td) {
  background-color: #FFADAD;
}
.subscriptions table tr td:nth-child(2):not(tfoot tr td) {
  background-color: darkgray;
}
.subscriptions table tr td:nth-child(3):not(tfoot tr td) {
  background-color: darkgoldenrod;
}
.subscriptions table tr td:nth-child(4):not(tfoot tr td) {
  background-color: #6d92d6;
}

#silver-sub {
  background: linear-gradient(180deg, #a1a2a3 0%, white 100%);
}

#gold-sub {
  background: linear-gradient(180deg, #bf953f 0%, #fcffff 100%);
}

#platinum-sub {
  background: linear-gradient(180deg, #6d92d6 0%, white 100%);
}

.btn-sub {
  padding: 0.5rem;
  border: none;
  font-family: Poppins, sans-serif;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: black;
  text-align: center;
}
.btn-sub:after {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  left: auto;
  top: 0;
  bottom: 0;
  right: -20%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}
.btn-sub:hover:after {
  transition: all 0.4s ease-out;
  right: 100%;
  cursor: pointer;
}
.btn-sub #costs {
  background: none;
  text-align: right;
}

.subscriptions .grid {
  font-family: Poppins, sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40em, 1fr));
  align-items: center;
  margin: 4em 0 4em 0;
}
.subscriptions .grid div {
  margin: 0 auto;
  width: 90%;
}
.subscriptions .grid div em {
  color: red;
}
.subscriptions .grid div h2 {
  font-size: 1.5rem;
  padding: 0.3em 0 0.3em 2em;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position-y: center;
}
.subscriptions .grid div h2, .subscriptions .grid div h3 {
  margin-bottom: 0.3em;
}
.subscriptions .grid div p {
  margin-bottom: 0.8em;
}

.patchSteps {
  display: flex;
  flex-flow: row;
}
.patchSteps div {
  width: 15em;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 10em 0 0 0.6em;
}
.patchSteps div:not(:last-child) p {
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 2.5em;
  padding-right: 3em;
  padding-bottom: 1em;
}
.patchSteps div:nth-child(1) {
  background-image: url("../images/step1.png");
}
.patchSteps div:nth-child(2) {
  background-image: url("../images/step2.png");
}
.patchSteps div:nth-child(3) {
  background-image: url("../images/step3.png");
}

/* footer */
footer {
  font-family: Poppins, sans-serif;
  width: 40em;
  margin: 0 auto;
  border-top: solid lightgray 1px;
}
footer label {
  font-size: 1.5rem;
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-weight: bold;
}
footer select {
  border-radius: 1em;
  padding: 0.2em;
  border: none;
  outline: none;
}
footer img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.mapbox {
  width: 100%;
  height: 50em;
}

/* Login page */
form:not(.clientSubscriptions form) {
  background-image: url("../images/login.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12em;
  padding-top: 20em;
  width: 100%;
}

input[id=marsID] {
  margin-bottom: 0.4em;
}

input[type=submit] {
  font-weight: bold;
}

input:not(.clientSubscriptions input) {
  display: block;
  width: 20em;
  margin: 0 auto;
  padding: 0.8em 0.2em 0.8em 0.2em;
  box-sizing: border-box;
  border-radius: 0.3em;
  border-color: lightgray;
  border-width: 1px;
}

/* call panel */
.callPanel, .rescuersfleetPanel, .clientSubscriptions {
  font-family: "Adobe Clean", sans-serif;
  width: 80%;
  margin: 1em auto;
}
.callPanel h2, .rescuersfleetPanel h2, .clientSubscriptions h2 {
  font-size: 1.2em;
  color: #6D7278;
}
.callPanel h1, .rescuersfleetPanel h1, .clientSubscriptions h1 {
  margin-top: 0.1em;
  font-size: 2em;
  text-align: left;
}
.callPanel h3, .rescuersfleetPanel h3, .clientSubscriptions h3 {
  font-size: 1.1em;
}
.callPanel ul, .rescuersfleetPanel ul, .clientSubscriptions ul {
  align-items: center;
  margin-top: 3em;
  margin-bottom: 0.3em;
}
.callPanel ul li, .rescuersfleetPanel ul li, .clientSubscriptions ul li {
  font-size: 0.9em;
  color: #7D7D7D;
  padding: 0.7em 0.8em;
}
.callPanel article:last-child, .rescuersfleetPanel article:last-child, .clientSubscriptions article:last-child {
  padding-left: 2em;
}
.callPanel button:hover, .rescuersfleetPanel button:hover, .clientSubscriptions button:hover {
  cursor: pointer;
  border-color: transparent;
}

.activeFilter {
  color: red !important;
  box-shadow: 0 0 0 2PX lightcoral !important;
  border-color: transparent;
}

.rescuersfleetPanel .filter {
  width: 35em;
}

.clientSubscriptions .filter {
  width: 27em;
}

.filter {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 22em;
  margin-top: 3em;
  margin-bottom: 4em;
  padding: 1em 2em;
  border-radius: 1.3em;
  background-color: #EFEFEF;
}
.filter p {
  margin-right: 4.5em;
}
.filter button {
  padding: 0.4em 1.5em;
  color: black;
  border-color: transparent;
  box-shadow: inset 0 0 0 2px black;
  color: black;
  transition: color 0.25s;
  position: relative;
}
.filter button::before, .filter button::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.filter button::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
.filter button::after {
  border-top-width: 2px;
  border-right-width: 2px;
}
.filter button:hover {
  color: red;
}
.filter button:hover::before, .filter button:hover::after {
  border-color: red;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

/* ======================== */
/* GRIDS FOR EMPLOYEE PAGES */
/* ======================== */
.rescuersfleetGrid, .rescuersfleetPanel ul, .callsGrid, .callPanel ul, .clientSubscriptionsGrid, .clientSubscriptions ul {
  grid-gap: 0.7em;
  display: grid;
  grid-template-rows: min-content;
  width: 85%;
}

.callsGrid, .callPanel ul {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . .";
}

.rescuersfleetGrid, .rescuersfleetPanel ul {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . .";
}

.clientSubscriptionsGrid, .clientSubscriptions ul {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . . .";
}

.callsGrid div, .rescuersfleetGrid div, .clientSubscriptionsGrid div {
  font-family: Poppins, sans-serif;
  background-color: #F8F8F8;
  padding: 1em 0.8em;
}
.callsGrid div span, .rescuersfleetGrid div span, .clientSubscriptionsGrid div span {
  font-weight: bold;
}
.callsGrid button, .rescuersfleetGrid button, .clientSubscriptionsGrid button {
  padding: 1em;
  border: none;
  border-radius: 2em;
  background-color: #E5E5E5;
  font-weight: bold;
  font-size: 0.9em;
}
.callsGrid .activeCall, .callsGrid .inactiveCall, .rescuersfleetGrid .activeCall, .rescuersfleetGrid .inactiveCall, .clientSubscriptionsGrid .activeCall, .clientSubscriptionsGrid .inactiveCall {
  padding-right: 3em;
  background-image: url("../images/call.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}
.callsGrid .activeCall, .rescuersfleetGrid .activeCall, .clientSubscriptionsGrid .activeCall {
  background-color: lightcoral;
}
.callsGrid .inactiveCall, .rescuersfleetGrid .inactiveCall, .clientSubscriptionsGrid .inactiveCall {
  background-color: #D2EA9B;
}

/* Search client form */
.clientSubscriptions form input[type=text] {
  border-radius: 0.4em;
  border: none;
  padding: 0.4em;
}

.clientSubscriptions form label, .clientSubscriptions form input[type=text] {
  margin-right: 0.8em;
}

.clientSubscriptions form input[type=text]:focus {
  outline: none;
}

.clientSubscriptions .filter img {
  display: block;
  width: 2em;
}

.clientSubscriptions .filter img:hover {
  cursor: pointer;
}

/* ======================== */
/*         KEYFRAMES        */
/* ======================== */
@keyframes pulse {
  from {
    box-shadow: 0 0 0 10px lightcoral;
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=style.css.map */
