@font-face {
  font-family: "Adobe Clean Bold";
  src: url("../fonts/AdobeClean-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Adobe Clean";
  src: url("../fonts/AdobeClean-Regular.otf") format("opentype");
}
body {
  font-size: 16px;
}

header {
  padding: 1rem 10rem;
  border-bottom: 1px solid black;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

#home-link {
  display: flex;
  cursor: pointer;
}
#home-link > p {
  line-height: 100%;
  margin: auto 0;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#main-nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

#logo {
  width: 3rem;
}

nav > a, #main-nav > a {
  text-decoration: none;
  color: black;
  line-height: 100%;
  margin: auto 0;
}

#btn-login {
  border: 1px solid black;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  background-color: black;
  color: white;
}

.active-nav {
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  font-family: "Adobe Clean Bold", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
}

p:not(.subscriptions section p) {
  font-family: "Adobe Clean", sans-serif;
  text-align: center;
  margin: 2rem 30% 0 30%;
}

/* HOME */
#intro {
  height: 90vh;
  background-image: url("../images/bg-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-home {
  max-width: 100vw;
}

#home-title {
  font-family: "Adobe Clean Bold", sans-serif;
  font-size: 3rem;
  color: white;
  padding: 25vh 0 5vh 15rem;
  text-shadow: black 1px 1px;
  text-align: left;
  margin: 0;
}

#home-intro {
  font-family: "Adobe Clean Bold", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding: 0 0 2rem 15rem;
  text-shadow: black 1px 1px;
  max-width: 40vw;
  text-align: left;
  margin: 0;
}

#subscribe {
  font-family: "Helvetica Neue", sans-serif;
  text-decoration: none;
  border: 1px solid #F7B500;
  border-radius: 50px;
  background: linear-gradient(180deg, #ffe7a5 0%, #f7b500 100%);
  color: black;
  padding: 0.5rem 1.5rem;
  margin-left: 15rem;
}
#subscribe.nav {
  margin-left: 0;
}

/* RESCUERS */
#steps {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.step {
  width: 25%;
  text-align: center;
}
.step h2 {
  padding-top: 1.75rem;
  font-family: "Adobe Clean", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.step img {
  max-width: 30%;
  height: 50px;
  display: inline-block;
}
.step p {
  margin: 1rem 10% 0 10%;
}

.arrow {
  width: 3rem;
  height: 3rem;
  margin: auto 0;
}

/*====================*/
/* SUBSCRIPTIONS GRID */
/*====================*/
/* -- flex article left side (table) -- */
.subscriptions table {
  border-spacing: 10px;
  border-collapse: separate;
}
.subscriptions table td {
  padding: 0.6em;
}
.subscriptions table tr td:not(:first-child) {
  text-align: center;
  vertical-align: center;
}
.subscriptions table tr td:nth-child(1):not(tfoot tr td) {
  background-color: #FFADAD;
}
.subscriptions table tr td:nth-child(2):not(tfoot tr td) {
  background-color: #FFDAC7;
}
.subscriptions table tr td:nth-child(3):not(tfoot tr td) {
  background-color: #FFEFBC;
}
.subscriptions table tr td:nth-child(4):not(tfoot tr td) {
  background-color: #FFFEB7;
}
.subscriptions table button {
  text-decoration: none;
  background-color: #E93B81;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 1em;
}
.subscriptions table button:hover {
  cursor: pointer;
}
.subscriptions table #costs {
  background: none;
  text-align: right;
}

.subscriptions section {
  font-family: Poppins, "sans-serif";
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45em, 1fr));
  align-items: center;
  margin: 4em 0 4em 0;
}
.subscriptions section article {
  margin: 0 auto;
  width: 90%;
}
.subscriptions section article em {
  color: red;
}
.subscriptions section article h2 {
  font-size: 1.5rem;
  padding: 0.3em 0 0.3em 2em;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position-y: center;
}
.subscriptions section article h2, .subscriptions section article h3 {
  margin-bottom: 0.3em;
}
.subscriptions section article p {
  margin-bottom: 0.8em;
}
.subscriptions section article .patchSteps {
  display: flex;
  flex-flow: row;
}
.subscriptions section article .patchSteps div {
  width: 15em;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 10em 0 0 0.6em;
}
.subscriptions section article .patchSteps div:not(:last-child) p {
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 2.5em;
  padding-right: 3em;
  padding-bottom: 1em;
}
.subscriptions section article .patchSteps div:nth-child(1) {
  background-image: url("../images/step1.png");
}
.subscriptions section article .patchSteps div:nth-child(2) {
  background-image: url("../images/step 2.png");
}
.subscriptions section article .patchSteps div:nth-child(3) {
  background-image: url("../images/step 3.png");
}

/* footer */
footer {
  font-family: Poppins, "sans-serif";
  width: 40em;
  margin: 0 auto;
  border-top: solid lightgray 1px;
}
footer label {
  font-size: 1.5rem;
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 2em;
  font-weight: bold;
}
footer input {
  border-radius: 1em;
  padding: 0.2em;
  border: none;
  outline: none;
}
footer img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
